body{
    background-color : #f3f4ff;
    height: 100vh;
     font-family: 'Poppins', sans-serif;
}
.container{
    padding: 50px !important
}

.first-div {
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.first-div h1{
    font-size: 36px;
    font-weight: 700;
    color:#303972;
}
.notifications{
     display: flex;
    align-items: center;
    gap: 20px;
}
.bell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}
.gear{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 60px;
    height: 60px;  
}
.name span{
  color: #303972;
  font-weight: 600;
  font-size: 16px;
}
.name p{
    color:#A098AE;
    size:14px;
    font-weight: 400;
}
.profile-pic{
    background-color: #C1BBEB;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}
.student-details ,.Parent-Details{
    background-color: #FFFFFF;
    border-radius: 20px;
    margin-bottom: 40px;
}
.div-title{
    background-color: #4D44B5;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 40px;
}
.div-title h3{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 700;

}
.form{
    padding: 40px;
    display: flex;
    gap: 20px;
}
.form label{
    color: #303972;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 5px;
}
.form input{
    border: 1px solid #C1BBEB;
    border-radius: 5px;
    color: #A098AE;
    width: 577px;
    height: 48px;
    margin-bottom: 25px;
}
.form-row{
    display: flex;
    margin-bottom: 33px;
}
.flex-inputs{
    display: flex;
    gap: 20px;
}
.radio-option {
  display: flex;
  align-items: center;
  gap: 8px; 
  margin-bottom: 8px;
}
.radio-option input[type="radio"] {
  width: 16px;
  height: 16px;
}
@media (max-width: 768px) {
  .first-div {
    justify-content: center;
    flex-direction: column;
    align-items:center; 
    gap: 10px;
  }

  .notifications {
    flex-wrap: wrap;
    justify-content: flex-start; 
    gap: 16px;
  }

  .bell,
  .gear,
  .profile-pic {
    width: 50px;
    height: 50px;
  }

  .first-div h1 {
    font-size: 25px;
    text-align: left;
  }
  .form{
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form input{
    border: 1px solid #C1BBEB;
    border-radius: 5px;
    color: #A098AE;
    width: 250px;
    height: 48px;
    margin-bottom: 25px;
}
.flex-inputs{
    display: flex;
    flex-direction:column ;
    gap: 10px;
}
}

