/****************************global styling**********************************/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Poppins", sans-serif;
}
.clr {
  clear: both;
}
input:focus {
  outline: none;
  box-shadow: none;
}

:root {
  --main-color: #4d44b5;
  --main-background-color: #f3f4ff;
  --secondary-color: #fb7d5b;
  --grey-color: #a098ae;
}
body {
  overflow-x: hidden;
}
h1{font-weight: 700;}
h2,
h3,
h5 {
  color: var(--main-color);
  font-weight: 700;
}
.buttons button {
    width: 20px !important;
    margin: 10px;
    float: left;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    height: 20px important;
  
}
.admin {
  
    padding-top: 11px;
    position: relative;
}
.admin h5{font-size:16px}
.admin p {

    font-size: 13px;
}
.buttons .icon {
    position: absolute;
    right: 0px;
    top: 0px;
}
.admin {
    padding-top: 10px;
    position: relative;
}

.tsidetags {
    padding-top: 10px;
    width: 20%;
    float: right;
    margin-inline-end: 6vw;
}

 .add-new-teacher {
    margin-right: 13px;
    float: right;
    border-radius: 20px;
    padding: 9px;
    background-color: var(--main-color);
    color: white;
    border: 0px;
    margin-top: 20px;
}

/**************************side bar********************************/

#icon-span {
  display: inline-block;
  background-color: var(--secondary-color);
  width: 48px;
  height: 48px;
  border-radius: 16px;
}
h1 {
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
aside {
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: -2;
  font-weight: 200;
  width: 20vw;
  float: left;
}
aside svg {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.active {
  color: var(--main-color);
  font-weight: 700;
}
.active svg path{fill:var(--main-color) !important}
.active::after {
  content: "";
  display: inline-block;

  background-color: var(--main-background-color);
  position: absolute;
  left: 25px;
  z-index: -1;
  width: 91%;
  height: 6vh;
  gap: 24px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}
li{cursor:pointer}
/**************************************view****************************/

.myview {
  background-color: var(--main-background-color);
  width: 80vw;
  position: relative;
  left: 20vw;
}
/**************************dashboard**************************************/
.dashboard {
  width: 80vw;
}

.dashboard h2 {
  font-weight: 700;
  color: var(--main-color);
  margin: 50px;
}
.search-section {
    border-radius: 40px;
    padding: 16.5px;
    margin-block-start: 30px;
    margin-inline: 5vw;
}
input {
  border: 0;
  padding-left: 16px;
}

input::placeholder {
  font-weight: 400;
  color: var(--grey-color);
}
/***************num bar*********************/
.num-bar {
  width: 90%;

  background-color: white;
  border-radius: 20px;
  padding-block: 20px;
  text-align: center;
}
.num-card {
  width: 25%;
  height: 65px;
}
.num-icon {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;

  vertical-align: top;
  display: inline-block;
}
.num-icon svg {
  color: white !important;
  width: 85%;
  height: 85%;
}
.text-num {
  display: inline-block;
  color: var(--main-color);
}
.st-num {
  background: var(--main-color);
}
.te-num {
  background-color: var(--secondary-color);
}
.e-num {
  background-color: rgba(252, 196, 62, 1);
}
.f {
  background-color: rgba(48, 57, 114, 1);
}
.text-num p {
  font-size: 13px;
  font-weight: 300;
}
.text-num span {
  font-weight: 700;
  font-size: 25px;
}

/**********chart section************/
.chart-one {
  width: 90%;
  height: 300px;

  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
}
.cal-fin {
  width: 90%;
  margin-inline: auto;
  margin-block: 40px;
}
.finance {
  display: inline-block;
  width: 45%;
  height: 333px;
  background-color: white;
  border-radius: 20px;
}
.calendar_parent {
  width: 53%;
  height: 333px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 5px;
  overflow: hidden;
}
#calendar {
  width: 102%;
  height: 90%;
  padding: 0 !important;
  padding-right: 20%;
}
/*title*/
.fc .fc-toolbar-title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(48, 57, 114, 1);
}

/*buttons*/
.fc .fc-button {
  background-color: #5e3ef7;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.fc .fc-button:hover {
  background-color: #4a2edb;
}
.fc .fc-button-group {
  right: 40px;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

/* days*/
.fc .fc-daygrid-day-number {
  text-align: center;
  font-weight: 500;
  font-size: 10px !important;
  color: #555;
  text-decoration: none;
}

.fc .fc-daygrid-day-frame {
  height: 10px !important;
  padding: 1px !important;
}

/* event */
.fc .fc-event {
  border: none;
  font-size: 9px !important;
  border-radius: 6px;
  padding: 1px 3px !important;
  margin-top: 2px !important;
}

.fc-event-important {
  background-color: #4df73e;
  color: white;
}
.fc-event-exam {
  background-color: #646eff;
  color: white;
}
.fc-event-holiday {
  background-color: #fcd54c;
  color: #333;
}

.fc .fc-daygrid-row {
  height: 20px !important;
}

.fc .fc-scroller,
.fc .fc-scrollgrid,
.fc .fc-daygrid-body,
.fc .fc-daygrid-body-natural {
  overflow: hidden !important;
  max-height: none !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: 0.5px solid rgba(128, 128, 128, 0.418);
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: var(--grey-color);
  font-size: 13px;
  font-weight: 300;
}
.fc .fc-scroller,
.fc .fc-scrollgrid,
.fc .fc-daygrid-body,
.fc .fc-daygrid-body-natural {
  border: 0px;
}

/******************************************/
canvas {
  background: white;
  box-sizing: border-box;
  height: 100% !important;
  width: 100% !important;
  padding: 30px;
  border-radius: 20px;
}
#unpaid {
  width: 90%;
  height: 300px;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
}

/******************table*****************/
.grid-container {
  width: 90%;
  height: 55vh;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 40px;
  position: relative;
  margin-bottom: 20vh;
}
#unpaid {
  width: 90%;
  margin: auto;
  height: 50vh;
}
td {
  padding-block: 7px;
}
.table-icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: rgba(193, 187, 235, 1);
  margin-block: auto;
}
#students-table {
  font-weight: 300;
  font-size: 14px;
  width: 90%;
  margin: auto;
  background-color: white;
  position: relative;
}

#students-table tr:hover {
  background-color: #f9f9f9;
}
#pagination {
  position: absolute;
  bottom: 0%;
  right: 10%;
}
.page-btn {
  padding: 8px 16px;
  margin: 5px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  
}

.page-btn:hover {
  background-color: #ccc;
}

.page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
/***************************inner side***********************************/
.dashboard-inner-side {
    width: 22vw;
    height: 100vh;
    padding: 10px;
    background-color: white;
}
/******************************teacher*******************************************/

.teacher_card{width:20%;
  height:50vh;
background-color: white;
border-radius: 20px;
text-align: center;
padding-top :40px;
margin:20px;
display: inline-block;}


.teacher_h2, h2 {
    margin: 30px;
    margin-inline-start: 5vw;
}
.teacher_icon{width:50px;
height:50px;
border-radius: 50%;
background-color: var(--main-color);
margin-inline: auto;
margin-block: 20px
}
.teachers-list-container{width:90%
  ;
  display: block;
margin: auto;


;margin-bottom: 20px;
}


.teacher-icons svg{padding:5px;
background-color: var(--main-color);
border-radius: 50%;
width:30px
;height: 30px;
}


.teacher-field{color: var(--grey-color);

font-size: 14px;
font-weight: 200;}
.teacher-name,.food-name {
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
.t-pagination {
    position: absolute;
    bottom: 4%;
    right: 14%;
    text-align: center;
  
}
.t-pagination .page-btn {
  
  padding: 8px 16px;
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.t-pagination .page-btn:hover {
  background-color: #ccc;
}

.t-pagination .page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
/************************************************/
/**********************************************/
.teacher-details img{
    width: 100%;
    background: var(--main-color);
    height: 25vh;
}
.teacher-details {
    width: 55vw;
    margin-left: 2vw;
    margin-block: 5vh;
    display: inline-block;
}



.sc-teacher {
    height: 100vh;
    float: right;
    width: 18vw;
    margin-block: 5vh;
    margin-right: 3vw;
}


.sc-teacher li,.sc-header {
    margin-block: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 20px;
   
}
.sc-teacher li{height:30vh;
position: relative;
border-radius: 20px;
padding-left: 20px;
}

.sc-teacher li span{
    font-size: 18px;
    color:var(--main-color);
    font-weight: 600;
    display: block;
}
.sc-teacher li::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 100%;
   
    display: inline-block;
    left: 0;
    top: 0px;
    border-radius: 20px 0px 0px 20px;
     background-color:var(--main-color); 
}

.sc-teacher li:nth-child(3n + 1)::before {
  background-color:var(--main-color); 
}


.sc-teacher li:nth-child(3n + 2)::before{
  background-color: var(--secondary-color);
}

.sc-teacher li:nth-child(3n)::before {
  background-color: rgba(252, 196, 62, 1); }
  .sc-header p{
    font-size: small;
    color: grey;
    padding-block: 10px;
}
.teacher-details h2{color: var(--main-color);}
.teacher-details p , .teacher-details span{color: var(--grey-color) !important ;
margin-block: 2vh;
}
.teacher-details svg{background-color: var(--secondary-color);
padding: 5px;
border-radius: 50%;
width:2vw;
height:2vw}
.teacher-details li{color:var(--main-color);
list-style-type: disc !important;
margin-block: 1vh;
}
/***************new teacher*************************/
.personal-details ,.education-details{
    margin-left: 5vw;
    width: 76%;
  margin-top: 4vh;
    background-color: white;
    color: var(--main-color);
    border-radius: 20px;
   
}
.personal-details * ,.education-details *{padding: 5px;}

.personal-details h4 ,.education-details h4{
    padding: 1vw;
    color: white;
    background: var(--main-color);
    width: 100%;
    font-weight: 600;
    border-radius: 20px 20px 0 0;
}
.personal-details .input-group ,.education-details .input-group{
    padding: 6px;
    width: 45%;
    display: inline-block;
}
.personal-details input ,.education-details input ,.personal-details textarea{
    border-radius: 6px!important;
    float: right;
    padding: 10px;
    border:1px rgba(128, 128, 128, 0.514) solid;
    width:90%
}
.personal-details .input-group div {
    display: inline-block;
    border: 1px dashed #ccc;
    padding: 10px;
    text-align: center;
    height:200px
}
textarea{height: 200px;}
label{display: block
  ;
}
/********************food********************************/
.food-list-container {
    background: white;
    width: 91%;
    margin-top: 19vh;
    margin-left: 2vw;
    border-radius: 20px;
    padding: 2vh;
}
.f-pagination {
    position: absolute;
    bottom: 4%;
    right: 14%;
    text-align: center;
  
}
.f-pagination .page-btn {
  
  padding: 8px 16px;
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.f-pagination .page-btn:hover {
  background-color: #ccc;
}

.f-pagination .page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
.food-row {
    padding-bottom: 10vh;
    margin-block: 22px;
    display: flex;
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
}
.food-icon{
    background-color:var(--main-color);
    width: 12%;
    height: 94px;
    border-radius: 20px;
}

.food-name{width:35%;text-align: center;padding-top: 2vw;}
.food-rating{width:25%;
text-align: center; padding-top: 2vw;}
.food-percent {
    padding: 10px;
    height: 4vw;
    width: 4vw;
    text-align: center;
    border: 5px solid var(--grey-color);
    border-top: 5px solid var(--main-color);
    border-left: 5px solid var(--main-color);
    border-radius: 50%;
}
/******************************************/
.food-details-page{width:85%;
margin:5vw 0 5vw 5vw}
/***************************responsive*********************************/

@media screen and (max-width: 1200px) {
.search-section {
    width: 73% !important;
    margin-block: 9px;
    margin-inline: 5vw;
}
.buttons .icon {top:70px}
#icon-span{display: none;}
 .dashboard-inner-side{display: none;}
  
aside{width:25vw}

.myview
{left:21vw}

/***teacher***/
.teacher_card{width:28vw}
.teacher-details {
    width: 52vw;
    margin-left: 5vw;
  
}
.add-new-teacher {

    margin-top: 62px;
}

.teacher_h2, h2 {
    margin: 54px;
}
.tsidetags {
    margin-right: 1vw;
    padding-top: 16px;
    width: 20%;
    float: right;
    font-size: 14px;
}
.buttons .icon {
    width: 80px;}
    .food-list-container {
    background: white;
    width: 86%;
    margin-top: 19vh;
    margin-left: 6vw;
    border-radius: 20px;
    padding: 2vh;
}
.search-section {
    width: 87% !important;
    margin-block: -2px;
    margin-inline: 5vw;
}

.food-percent {
    padding: 4px;
}
.food-list-container {
 
    margin-top: 3vh;
 
}
}
@media screen and (max-width: 1135px) {
.search-section {
    float: none !important;
    width: 90%;
    margin-block: 9px;
    margin-inline: auto;
}
.cal-fin > * {width:100%;
   margin-block: 5vh;}
#students-table{width:100%}

.teacher-details {width:90%;
margin: auto;
margin-left: 7vw !important;}
.sc-teacher{width:90%;
margin-left: 7vw !important;}
.food-percent
 {
    padding: 6px;
    height: 6vw;
    width: 6vw;
}}
@media screen and (max-width: 816px) {
  .search-section {
  
    margin-inline: unset;
}
.add-new-teacher {
    padding-block: 16px;
    margin-right: -8px;
    right: 2px;
    font-size: 12px;
    margin-top: 58px;
}
.buttons .icon {
    position: absolute;
    right: 17px;
    top: 75px;
}
  h1{font-size: 17px;}
aside {
    width: 13vw;
}
.myview {
    width: 87vw;
    left: 13vw;
}
li span{display: none;}
.food-icon {display: none;}
}
@media screen and (max-width: 750px) {
.search-section {
    float: none !important;
    width: 90%;
    margin-block: 9px;
    margin-inline: 3vw;
}
 #pagination {
   
    bottom: 10%;

}
.teacher_card {
    width: 99%;
    margin-inline: auto;
}
.teachers-list-container{height:auto;

}
.tsidetags{width:30%}
    .add-new-teacher {
      margin-top: 45px};
.add-new-teacher {
 
    margin-top:58 px;
    font-size: 10px;
}
.food-details-page {
    width: 88%;

}
}
@media screen and (max-width: 660px) {
.num-card {
    width: 20%;
   
}
.num-bar {
    justify-content: space-between;
    height: 24vh;
    padding-top: 0;
}
.add-new-teacher {
    width: 79vw;
}
 .grid-container{padding:20px}
tr > td:nth-child(2){display: none;}

ul {
    padding-left: 20px !important;
}

.food-percent {
    padding: 6px;
    height: 10vw;
    width: 10vw;
}
.food-details-page svg{width: 70vw;}

}



@media screen and (max-width: 590px){
h1{display: none;}
  .active::after{display:none}
  li.active {
    color: var(--main-color);
    font-weight: 700;
    background: aliceblue;
    border-radius: 18px 0 0 18px;
}
 ul {
    padding-left: 5px !important
    ;
}
.add-new-teacher {
    width: 79vw;
    margin-top: 18vh;
    margin-right: 5vw;
}
.search-section{width: 91% !important;
margin-inline: 2vw;}
    .tsidetags {
        width: 34%;
    }
}


