/****************************global styling**********************************/
* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;

  font-family: "Poppins", sans-serif;
}
.clr {
  clear: both;
}
input:focus {
  outline: none;
  box-shadow: none;
}

:root {
  --main-color: #4d44b5;
  --main-background-color: #f3f4ff;
  --secondary-color: #fb7d5b;
  --grey-color: #a098ae;
}
body {
  overflow-x: hidden;
}
h1{font-weight: 700;}
h2,
h3 {
  color: var(--main-color);
  font-weight: 700;
}

/**************************side bar********************************/

#icon-span {
  display: inline-block;
  background-color: var(--secondary-color);
  width: 48px;
  height: 48px;
  border-radius: 16px;
}
h1 {
  font-size: 36px;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
}
aside {
  background-color: var(--main-color);
  font-size: 18px;
  font-weight: 400;
  position: relative;
  z-index: -2;
  font-weight: 200;
  width: 20vw;
  float: left;
}
aside svg {
  width: 40px;
  height: 40px;
  padding: 8px;
}

.active {
  color: var(--main-color);
  font-weight: 700;
}
.active svg path{fill:var(--main-color) !important}
.active::after {
  content: "";
  display: inline-block;

  background-color: var(--main-background-color);
  position: absolute;
  left: 25px;
  z-index: -1;
  width: 91%;
  height: 6vh;
  gap: 24px;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-top: 16px;
  padding-right: 24px;
  padding-bottom: 16px;
  padding-left: 24px;
}
li{cursor:pointer}
/**************************************view****************************/

.myview {
  background-color: var(--main-background-color);
  width: 80vw;
  position: relative;
  left: 20vw;
}
/**************************dashboard**************************************/
.dashboard {
  width: 80vw;
}

.dashboard h2 {
  font-weight: 700;
  color: var(--main-color);
  margin: 50px;
}
.search-section {
  margin: 50px;

  width: 350;
  height: 60;
  top: 50px;
  border-radius: 40px;
  padding: 16.5px;
}
input {
  border: 0;
  padding-left: 16px;
}

input::placeholder {
  font-weight: 400;
  color: var(--grey-color);
}
/***************num bar*********************/
.num-bar {
  width: 90%;

  background-color: white;
  border-radius: 20px;
  padding-block: 20px;
  text-align: center;
}
.num-card {
  width: 25%;
  height: 65px;
}
.num-icon {
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  text-align: center;
  padding-top: 10px;

  vertical-align: top;
  display: inline-block;
}
.num-icon svg {
  color: white !important;
  width: 85%;
  height: 85%;
}
.text-num {
  display: inline-block;
  color: var(--main-color);
}
.st-num {
  background: var(--main-color);
}
.te-num {
  background-color: var(--secondary-color);
}
.e-num {
  background-color: rgba(252, 196, 62, 1);
}
.f {
  background-color: rgba(48, 57, 114, 1);
}
.text-num p {
  font-size: 13px;
  font-weight: 300;
}
.text-num span {
  font-weight: 700;
  font-size: 25px;
}

/**********chart section************/
.chart-one {
  width: 90%;
  height: 300px;

  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
}
.cal-fin {
  width: 90%;
  margin-inline: auto;
  margin-block: 40px;
}
.finance {
  display: inline-block;
  width: 45%;
  height: 333px;
  background-color: white;
  border-radius: 20px;
}
.calendar_parent {
  width: 53%;
  height: 333px;
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  padding: 5px;
  overflow: hidden;
}
#calendar {
  width: 102%;
  height: 90%;
  padding: 0 !important;
  padding-right: 20%;
}
/*title*/
.fc .fc-toolbar-title {
  font-size: 18px;
  font-weight: 400;
  color: rgba(48, 57, 114, 1);
}

/*buttons*/
.fc .fc-button {
  background-color: #5e3ef7;
  border: none;
  border-radius: 6px;
  padding: 4px 10px;
  font-size: 13px;
  text-transform: capitalize;
}
.fc .fc-button:hover {
  background-color: #4a2edb;
}
.fc .fc-button-group {
  right: 40px;
  display: inline-flex;
  position: relative;
  vertical-align: middle;
}

/* days*/
.fc .fc-daygrid-day-number {
  text-align: center;
  font-weight: 500;
  font-size: 10px !important;
  color: #555;
  text-decoration: none;
}

.fc .fc-daygrid-day-frame {
  height: 10px !important;
  padding: 1px !important;
}

/* event */
.fc .fc-event {
  border: none;
  font-size: 9px !important;
  border-radius: 6px;
  padding: 1px 3px !important;
  margin-top: 2px !important;
}

.fc-event-important {
  background-color: #4df73e;
  color: white;
}
.fc-event-exam {
  background-color: #646eff;
  color: white;
}
.fc-event-holiday {
  background-color: #fcd54c;
  color: #333;
}

.fc .fc-daygrid-row {
  height: 20px !important;
}

.fc .fc-scroller,
.fc .fc-scrollgrid,
.fc .fc-daygrid-body,
.fc .fc-daygrid-body-natural {
  overflow: hidden !important;
  max-height: none !important;
}
.fc-theme-standard td,
.fc-theme-standard th {
  border: 0.5px solid rgba(128, 128, 128, 0.418);
}
.fc .fc-col-header-cell-cushion {
  text-decoration: none;
  color: var(--grey-color);
  font-size: 13px;
  font-weight: 300;
}
.fc .fc-scroller,
.fc .fc-scrollgrid,
.fc .fc-daygrid-body,
.fc .fc-daygrid-body-natural {
  border: 0px;
}

/******************************************/
canvas {
  background: white;
  box-sizing: border-box;
  height: 100% !important;
  width: 100% !important;
  padding: 30px;
  border-radius: 20px;
}
#unpaid {
  width: 90%;
  height: 300px;
  border-radius: 20px;
  margin: auto;
  margin-top: 40px;
}

/******************table*****************/
.grid-container {
  width: 90%;
  height: 55vh;
  background-color: white;
  border-radius: 20px;
  margin: auto;
  padding: 40px;
  position: relative;
}
#unpaid {
  width: 90%;
  margin: auto;
  height: 50vh;
}
td {
  padding-block: 7px;
}
.table-icon {
  width: 3vw;
  height: 3vw;
  border-radius: 50%;
  background-color: rgba(193, 187, 235, 1);
  margin-block: auto;
}
#students-table {
  font-weight: 300;
  font-size: 14px;
  width: 90%;
  margin: auto;
  background-color: white;
  position: relative;
}

#students-table tr:hover {
  background-color: #f9f9f9;
}
#pagination {
  position: absolute;
  bottom: 0%;
  right: 10%;
}
.page-btn {
  padding: 8px 16px;
  margin: 5px;
  background-color: #eee;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 3vw;
  height: 3vw;
}

.page-btn:hover {
  background-color: #ccc;
}

.page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
/***************************inner side***********************************/
.dashboard-inner-side {
  width: 20vw;
  height: 100vh;
  padding: 10px;
}
/******************************teacher*******************************************/

.teacher_card{width:20%;
  height:50vh;
background-color: white;
border-radius: 20px;
text-align: center;
padding-top :40px;
margin:20px;
display: inline-block;}

.teacher_h2,h2{margin:25px;

}
.teacher_icon{width:50px;
height:50px;
border-radius: 50%;
background-color: var(--main-color);
margin-inline: auto;
margin-block: 20px
}
.teachers-list-container{width:90%
  ;
  display: block;
margin: auto;

height:310vh
;margin-bottom: 20px;
}


.teacher-icons svg{padding:5px;
background-color: var(--main-color);
border-radius: 50%;
width:30px
;height: 30px;
}


.teacher-field{color: var(--grey-color);

font-size: 14px;
font-weight: 200;}
.teacher-name,.food-name {
    font-size: 16px;
    color: var(--main-color);
    font-weight: 600;
}
.t-pagination {
    position: absolute;
    bottom: 4%;
    right: 14%;
    text-align: center;
  
}
.t-pagination .page-btn {
  
  padding: 8px 16px;
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.t-pagination .page-btn:hover {
  background-color: #ccc;
}

.t-pagination .page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
/****************************************************/
.f-pagination {
    position: absolute;
    bottom: 4%;
    right: 14%;
    text-align: center;
  
}
.f-pagination .page-btn {
  
  padding: 8px 16px;
  margin: 5px;
  background-color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
  width: 3vw;
  height: 3vw;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 200;
}

.f-pagination .page-btn:hover {
  background-color: #ccc;
}

.f-pagination .page-btn.active {
  background-color: #5e3ef7;
  color: white;
}
.food-row {
    margin-block: 22px;
    display: flex;
    width: 90%;
    margin-inline: auto;
    justify-content: space-between;
}
.food-icon{
    background-color:var(--main-color);
    width: 12%;
    height: 94px;
    border-radius: 20px;
}
.search-section{
  margin-block: 20px;
  margin-inline: 30px;
}
.food-name{width:35%;text-align: center;padding-top: 2vw;}
.food-rating{width:25%;
text-align: center; padding-top: 2vw;}
.food-percent {
    padding: 2vw;
    height: 7vw;
    width: 7vw;
    text-align: center;
    border: 2px var(--main-color) solid;
    border-radius: 50%;
}