body{
    background-color : #f3f4ff;
    height: 100vh;
     font-family: 'Poppins', sans-serif;
}
.container{
    padding: 50px;
}
.first-div {
     display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.first-div h1{
    font-size: 36px;
    font-weight: 700;
    color:#303972;
}
.notifications{
     display: flex;
    align-items: center;
    gap: 20px;
}
.bell{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}
.gear{
  display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    border-radius: 40px;
    width: 60px;
    height: 60px;  
}
.name span{
  color: #303972;
  font-weight: 600;
  font-size: 16px;
}
.name p{
    color:#A098AE;
    size:14px;
    font-weight: 400;
}
.profile-pic{
    background-color: #C1BBEB;
    border-radius: 40px;
    width: 60px;
    height: 60px;
}
.right-div{
    display: flex;
    flex-direction: column;
    gap:24px
}
.right-div .box1{
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 32px;
    width: 418px;
    
}
.box1 h3{
    font-size: 24px;
    font-weight: 700;
    color: #303972;
}
.box1 p{
    font-size: 14px;
    font-weight: 400;
    color: #A098AE;
}
.box2{
   background-color: #FFFFFF;
    border-radius: 20px;
    padding: 32px;
    width: 418px;
    
    
}
.box2 h3{
    font-size: 18px;
    font-weight: 600;
    color: #303972;
}
.box2 p{
    font-size: 14px;
    font-weight: 400;
    color: #A098AE;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.details span{
   color:#A098AE;
   font-size: 14px;
   font-weight: 400;
}
.details .d-1{
    display: flex;
    flex-direction: column;
    gap:15px
}
